@import 'tailwindcss';

body {
  height: 100%;
  background: linear-gradient(105deg, rgb(131, 210, 247), rgb(249, 205, 233), rgb(229, 192, 244));
  color: rgb(151, 140, 140);
  overflow-x: hidden;
  padding-bottom: 10vh;
}
